# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
# Assign values to variables
latitude = 40.7128
longitude = -74.0060
population = 8336817
area = 783.8

# Calculate population density
population_density = population / area

# Print the population density
print("Population Density:", population_density)

# Print the coordinates
print("Latitude:", latitude, ", Longitude:", longitude)

Population Density: 10636.408522582293
Latitude: 40.7128 , Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [2]:
# Create a string variable
city_name = "San Francisco"

# Convert to lowercase and print
lowercase_name = city_name.lower()
print("Lowercase:", lowercase_name)

# Convert to uppercase and print
uppercase_name = city_name.upper()
print("Uppercase:", uppercase_name)

# Replace "San" with "Los" and print
new_name = city_name.replace("San", "Los")
print("Replaced:", new_name)

Lowercase: san francisco
Uppercase: SAN FRANCISCO
Replaced: Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [3]:
# Create a list of tuples
cities = [
    ("New York City", 40.7128, -74.0060),
    ("Los Angeles", 34.0522, -118.2437),
    ("Chicago", 41.8781, -87.6298)
]

# Add a new city
cities.append(("Miami", 25.7617, -80.1918))

# Print the entire list
print("All cities:", cities)

# Print the first two cities
print("First two cities:", cities[:2])

All cities: [('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437), ('Chicago', 41.8781, -87.6298), ('Miami', 25.7617, -80.1918)]
First two cities: [('New York City', 40.7128, -74.006), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [4]:
# Create a tuple for Eiffel Tower coordinates
eiffel_tower_coords = (48.8584, 2.2945)

# Access and print latitude and longitude
latitude = eiffel_tower_coords[0]
longitude = eiffel_tower_coords[1]

print("Latitude:", latitude)
print("Longitude:", longitude)

# Try to change the latitude (this will cause an error)
# eiffel_tower_coords[0] = 48.8585
# print(eiffel_tower_coords)

Latitude: 48.8584
Longitude: 2.2945

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [5]:
# Create a set of countries
visited_countries = {"USA", "France", "Germany"}

# Add a new country
visited_countries.add("Italy")

# Try to add the same country again (nothing happens)
visited_countries.add("Italy")

# Print the updated set
print(visited_countries)

{'Italy', 'Germany', 'USA', 'France'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [6]:
# Create a dictionary for the river
river = {
    "Name": "Amazon River",
    "Length": 6400,
    "Countries": ["Brazil", "Peru", "Colombia"]
}

# Add average discharge
river["Average Discharge"] = 209000

# Update the length
river["Length"] = 6992

# Print the dictionary
print(river)

{'Name': 'Amazon River', 'Length': 6992, 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [7]:
# Create a dictionary for Tokyo
city = {
    "Name": "Tokyo",
    "Population": 13515271,
    "Coordinates": (35.6895, 139.6917)
}

# Access and print the population
population = city["Population"]
print("Population:", population)

# Access and print the latitude
latitude = city["Coordinates"][0]  # Accessing the first element of the coordinates tuple
print("Latitude:", latitude)

# Update the population
city["Population"] = 14000000

# Print the updated dictionary
print("Updated city data:", city)

Population: 13515271
Latitude: 35.6895
Updated city data: {'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [8]:
# Assuming 'cities' list from Exercise 3 is available

# Sort the list of cities alphabetically by name
cities.sort(key=lambda city: city[0])
print("Sorted cities:", cities)

# Create a new list that contains only the city names
city_names = [city[0] for city in cities]
print("City names:", city_names)

# Remove the last city from the original list and print the updated list
cities.pop()
print("Updated cities:", cities)

Sorted cities: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918), ('New York City', 40.7128, -74.006)]
City names: ['Chicago', 'Los Angeles', 'Miami', 'New York City']
Updated cities: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918)]

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [9]:
# Assuming 'cities' list from Exercise 3 is available

# Sort the list of cities alphabetically by name
cities.sort(key=lambda city: city[0])
print("Sorted cities:", cities)

# Create a new list that contains only the city names
city_names = [city[0] for city in cities]
print("City names:", city_names)

# Remove the last city from the original list and print the updated list
cities.pop()
print("Updated cities:", cities)

Sorted cities: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437), ('Miami', 25.7617, -80.1918)]
City names: ['Chicago', 'Los Angeles', 'Miami']
Updated cities: [('Chicago', 41.8781, -87.6298), ('Los Angeles', 34.0522, -118.2437)]

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [10]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [11]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

# 1. Create a new list that contains only the names of the locations.
location_names = [location[0] for location in locations]
print("Location names:", location_names)

# 2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
location_coords = {location[0]: (location[1], location[2]) for location in locations}
print("Location coordinates:", location_coords)

# 3. Print the latitude of "K2" using the dictionary.
k2_latitude = location_coords["K2"][0]  # Access the tuple for "K2" and then its first element (latitude)
print("Latitude of K2:", k2_latitude)

Location names: ['Mount Everest', 'K2', 'Kangchenjunga']
Location coordinates: {'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}
Latitude of K2: 35.8808